/* Estilos para o título h1 */
.h1-cbc {
    color: #008B8B;
}

.h1-cbc {
    font-size: 5ex;
}

.h1-cbc {
    font-family: 'Times New Roman', Times, serif
}

.tamando-correa {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    overflow: hidden;
}

.tamando-correa

/*Estilos h1*/
.h1-cbc {
    display: flex;
    justify-content: center;
    position: relative;
}

/* Estilos para o fundo da página */
body {
    background-image: url(IMAGENS/Design\ sem\ nome.png);
    background-size: cover;
    background-repeat: no-repeat;


    /* Estilos para a lista de navegação */
    .centered {
        display: flex;
        justify-content: center;
        /* Centraliza horizontalmente */
        align-items: center;
        /* Centraliza verticalmente */
        height: 100%;
        /* Ocupa a altura total do contêiner pai */
        text-align: center;
        /* Centraliza o texto horizontalmente */
    }


    .nav li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .nav li {
        display: inline;
        margin: 0 10px;
        /* Espaçamento entre os links */
    }

    /* Estilos para a lista de navegação */
    .centered {
        display: flex;
        justify-content: center;
        /* Centraliza horizontalmente */
        align-items: center;
        /* Centraliza verticalmente */
        height: 100%;
        /* Ocupa a altura total do contêiner pai */
        text-align: center;
        /* Centraliza o texto horizontalmente */
    }

    .nav li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .nav li {
        display: inline;
        margin: 0 10px;
        /* Espaçamento entre os links */
        position: relative;
        /* Permite posicionamento dos elementos filhos */
    }

    .nav li a {
        text-decoration: none;
        color: #40a885;


        /*dd*/

    }

    .nav li a:hover {
        color: #ffffff;
        text-decoration: underline;
        transition-duration: 0.2s;


    }
 

    .centralizado {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15vh;
        font-size: 20px;
        font-style: italic;
        color: azure;
        text-align: center
    }

    .centralizado {
        max-width: 800px;
        margin: auto;
    }
}

.form {
    background-color: #00000048;
    backdrop-filter: blur(3px);
    display: flex;
    padding: 1rem;
    max-width: 150px;
    border-radius: 0.9rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    height: 180px;
}

.form-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: rgb(31, 144, 110);
    
}

.input-container {
    position: relative;
}

.input-container input,
.form button {
    outline: none;
    border: 1px solid #ffffff80;
    margin: 6px 0;
}

.input-container input {
    background-color: #fff;
    padding: 0.40rem;
    padding-right: 1rem;
    font-size: 0.85rem;
    line-height: 1.15rem;
    width: 90%;
    border-radius: 0.8rem;
    box-shadow: 0 1px 2px 0 rgb(0, 0, 0);
}

.submit {
    display: block;
    padding-top: 0.1rem;
    /*reduz o preenchimento superior*/
    padding-bottom: 0.1rem;
    /*reduz o preenchimento inferior*/
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: rgb(31, 144, 110);
    color: #e8e8ea;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 40%;
    border-radius: 0.8rem;
    text-transform: uppercase;
    transition: 0.7s;
}

.submit a {
    color: #ffffff;
    text-decoration: none;
    transition-duration: 0.7s;
    transform: scale(0.10);

}

.signup-link {
    color: rgb(31, 144, 110);
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
    margin-top: 1px; /* Move o texto para cima */
}

.signup-link a {
    text-decoration: underline;
    transition-duration: 0.7s;
    transform: scale(0.10);
    color: rgba(255, 17, 17, 0.394);
    font-weight: 1000;
}

/* Estilos para centralizar o formulário */
.centralizado-form {
    max-width: 20%;
    /* Defina a largura máxima desejada para o formulário */
    margin: auto;
    /* Isso centralizará horizontalmente o formulário */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Isso centralizará verticalmente o conteúdo do formulário */
    margin-top: 40px;
}